:root {
    --wild-color: #F7146B;
    --primary-font: arial;
    --secondary-font: montserrat;

    /* light mode variables*/
    --light-bg-color: white;
    --light-fg-color: #F5F5F5;
    --light-icon-color: #6D6D6D;
    --light-font-color: #1E1E1E;

    /* dark mode variables*/
    --dark-bg-color: #1E1E1E;
    --dark-fg-color: #3F3F3F;
    --dark-icon-color: white;
    --dark-font-color: #D1D1D1;
}

#filterbar {
    display: flex;
    width: 100%;
    background-color: var(--light-fg-color);
}
/* card  */
.card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0px auto ;
    background-color: #f5f5f5;
    padding: 0rem;
    width: 350px;
    height: 80px;
    
}
 .card a {
    color:black;
    text-decoration:none;
 }
  .card-image {
    height: 50px;
    position: relative;
    overflow: hidden;
}
.restaurant-image {
    width: 20%;
}
.card div place-name {
    display: flex;
    flex-direction: row;

}