:root {
    --wild-color: #F7146B;
    --primary-font: "poppins";
    --secondary-font: "noto sans";


    /* light mode variables*/
    --light-bg-color: white;
    --light-fg-color: #F5F5F5;
    --light-icon-color: #6D6D6D;
    --light-font-color: #1E1E1E;
    --light-filterbar-color: #EDEDED;

    /* dark mode variables*/
    --dark-bg-color: #1E1E1E;
    --dark-fg-color: #3F3F3F;
    --dark-icon-color: white;
    --dark-font-color: #D1D1D1;
    --dark-filterbar-color: #3F3F3F;
}

/* Global Settings*/
@media-screen and (mmin-width:1024px) {
    .full-width-img
}

body {
    margin: 0;
}


/*NavBar*/
header {
    background-color: var(--wild-color);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Making it sticky to the top */
    position: sticky;
    top: 0px;
    z-index: 4;
}

header>nav>ul {
    gap: 40px;
    margin: 0;
    padding: 10px;
    display: flex;
}

header>nav>ul>#cuisine-switch {
    border: solid;
    border-color: var(--light-bg-color);
    border-radius: 5px;
    padding: 10px;
}

header>nav>ul>button {
    background: none;
    color: var(--light-bg-color);
    border: none;
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    transition-property: transform;
    transition-duration: .3s;
}

#cuisine-switch.light-mode {
    border: solid;
    border-color: var(--light-bg-color);
    border-radius: 5px;
    padding: 10px;
}

#cuisine-switch.dark-mode {
    color: var(--light-font-color);
    padding: 10px;
    border: none;
}

#bar-switch.dark-mode {
    border: solid;
    border-color: var(--light-font-color);
    color: var(--light-font-color);
    border-radius: 5px;
    padding: 10px;
}

#bar-switch.light-mode {
    color: var(--light-bg-color);
    padding: 10px;
}

#body.light-mode {
    background-color: var(--light-bg-color);
}

#body.dark-mode {
    background-color: var(--dark-bg-color);
}

#mode-switch ul button:active {
    transform: scale(1.5);
    transition-property: transform;
    transition-duration: .3s;
}

/* FILTERBAR PART */
footer {
    position: sticky;
    bottom: 0px;
    z-index: 5;
}

#filter-bar ul {
    list-style: none;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;

    position: sticky;
    bottom: 0px;

    margin: 0;
    border: 0;
    padding: 0;

    height: 10vh;
    width: 100%;

    background-color: var(--light-filterbar-color);
}

#filter-bar ul button img {
    height: 5vh;
}



#filter-bar ul button,
#primary-filter-container ul button {
    margin: 0;
    background-color: transparent;
    border: none;
    z-index: 4;
    transition-property: transform;
    transition-duration: .3s;
}

/* Animation for menu buttons to give click feedback */
#filter-bar ul button:active {
    transform: scale(1.5);
    transition-property: transform;
    transition-duration: .3s;
}


#ul-footer.dark-mode {
    background-color: var(--dark-filterbar-color);
}

#ul-footer.light-mode {
    background-color: var(--light-filterbar-color);
}


/* Part about the mini-menus */

/* Making an overlaying div, containing all mini-menus */
#mini-menus-container {
    width: 100%;
    height: 80vh;

    position: sticky;

    bottom: 10vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;

    /* this is used to hide anything that is visually out of the div */
    overflow: hidden;
}

#price-range-menu {
    grid-column-start: 4;

}

#distance-menu {
    grid-column-start: 3;
}



/* The little menus that pop up for both distance and budget */
.toast-mini-menu {
    background-color: var(--light-filterbar-color);
    margin: 0px;
    margin-bottom: 0px;
    padding: 0;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    /* Part about sizing and align it in the bottom */
    height: 30vh;
    align-self: flex-end;
    border-radius: 10px 10px 0px 0px;

    /* part about making the animation, unrolling it*/
    transition-property: transform;
    transition-duration: .4s;
    transition-timing-function: ease-out;

    /* part about the overlays : if it's not present, primary filter menu won't overlay */
    position: absolute;
    z-index: 5;

}



.toast-mini-menu.collapsed {
    z-index: 3;
    transform: translateY(40vh);
}

.toast-mini-menu button img {
    max-width: 5vw;
    margin-left: -1vw;
}

.toast-mini-menu button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 10vh;
    border: none;
    /* animating the button for haptic feedback */
    transition-property: transform;
    transition-duration: .5s;
}

.toast-mini-menu button:active {
    /* animating the button for haptic feedback */
    transform: scale(3);
    transition-property: transform;
    transition-duration: .5s;
}


#distance-menu.dark-mode {
    background-color: var(--dark-filterbar-color);
}

#distance-menu.light-mode {
    background-color: var(--light-filterbar-color);
}

#price-range-menu.dark-mode {
    background-color: var(--dark-filterbar-color);
}

#price-range-menu.light-mode {
    background-color: var(--light-filterbar-color);
}

.layer0 {
    position: relative;
    z-index: 0;
}

.layer1 {
    z-index: 1;
}

.layer2 {
    position: relative;
    z-index: 2;
}


/* FOR DEBUGGING make the mini menu container slightly opaque */
#mini-menus-container {
    background-color: #1E1E1E33;
}

#mini-menus-container.hidden {
    display: none;

}


/* main filter part */
#primary-filter-container {
    width: 100%;
    background-color: var(--light-filterbar-color);
    grid-column: span 4;

    /* position when open */
    align-self: flex-end;
    border-radius: 10px 10px 0px 0px;

    /* collapsing/uncollapsing behaviour */
    transition-property: transform;
    transition-duration: .4s;
    transition-timing-function: ease-out;

    /* part about the overlays : if it's not present, primary filter menu won't overlay */
    position: asbolute;

    /* part about justifying stuff, mostly the text */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

#primary-filter-container.collapsed {
    transform: translateY(80vh);
}

#primary-filter-container.dark-mode {
    background-color: var(--dark-filterbar-color);
}

#primary-filter-container.light-mode {
    background-color: var(--light-filterbar-color);
}

#primary-filter-container ul button img {
    max-width: 5vh;
    max-height: 5vh;
    padding: 1.5vh;
}

#primary-filter-container>ul {
    width: 100%;
    display: grid;
    list-style: none;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#primary-filter-container>p {
    font-family: var(--secondary-font);
    padding-left: 5vw;
    color: #6D6D6D;
}


/* END OF FILTERBAR PART */



/* card  */
.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 0 0 1rem;
    font-family: poppins;
    padding: 2vh;
}


/* dark-mode sur les cards */
.card.dark-mode {
    background-color: var(--dark-fg-color);
    color: var(--dark-font-color);
}

/* light-mode sur les cards */

.card.light-mode {
    background-color: var(--light-fg-color);
    color: var(--light-font-color);
}

/* coter  gauche& droite de la boite card */
#places {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1px;
    margin: 0;
    position: relative;
    background-color: var(--light-bg-color);
    min-height: 80vh;
}

#places.dark-mode {
    background-color: var(--dark-bg-color);
}

#places.light-mode {
    background-color: var(--light-bg-color);
}

#places-container {
    position: relative;
}


/* Image papilles rendre ronde */
.place-picture {
    object-fit: fill;
    max-width: 15vh;
    max-height: 15vh;
    align-self: center;
    justify-self: center;
}

/* this is a div used the crop the image (see overflow) */
.picture-frame {
    border-radius: 7.5vh;
    height: 15vh;
    width: 15vh;

    overflow: hidden;
    align-self: center;
    justify-self: center;
    background-color: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.card div .place-name {
    display: grid;
    grid-template-rows: left 1rem;
}

.place-distance {
    color: var(--wild-color);
    margin: 0;
    font-weight: 500;
}

.mini-description {
    display: grid;
    font-family: var(--secondary-font);
    margin-top: 0;
}

/* Hiding some div on the main menu */

.picto-container {
    display: none;
}

.more-info-container {
    display: none;
}

/* Showing these div to the selected card */

.card-selected>div {
    display: block;
}

/* Hiding short info to the selected card */
.card-selected .place-distance {
    display: none;
}

.card-selected .mini-description {
    display: none;
}

/* Style of the selected card*/
.card-selected {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
}

.card-selected .picto-container {
    display: flex;
    justify-content: space-around;
    grid-column: span 2;
}

.card-selected .more-info-container {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-selected .picto-container img {
    height: 5vh;
}

.card-selected .google-map {
    width: 80vw;
    height: 40vw;
}